* {
  box-sizing: border-box;
}
body {
  font-family: Helvetica, Arial, Sans Serif;
}
.page {
  width: 500px;
  margin: auto;
}
.image-container {
  max-width: 500px;
  margin: 0 auto 100px;
}
.image-wrapper {
  width: 100%;
  background-color: #eee;
  transition: background-color 1s;
}
.image-wrapper.shown {
  background-color: rgb(97, 97, 97);
}
.lazyload {
  opacity: 0;
  width: 100%;
  height: 360px;
  transition: opacity 0.5s ease;
  vertical-align: middle;
}
.lazyload.loaded {
  opacity: 1;
  height: auto;
}