@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css";

*, *::before, *::after {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  position: relative;
  background: #eee;
}

.todo-list .header {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  border-radius: 0 0 10px 10px;
  background: #25b99a;
  z-index: 5;
  box-shadow: 0 2px 4px rgba(50, 50, 50, 0.3);
  padding: 1em; 
}

.todo-list .header .header__input {
  width: 100%;
  height: 100%;
  border: none;
  background: rgba(255, 255, 255, 0.2);
  outline: none;
  border-radius: 5px 25px 25px 5px;
  padding: 0.7em 1.2em;
  font-size: 1.2rem;
  color: white;
}

.todo-list .header .header__button {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 15px;
  right: 15px;
  z-index: 2;
  border: none;
  border-radius: 25px;
  background: white;
  font-size: 1.3rem;
  text-align: center;
  color: #25b99a;
  cursor: pointer; 
}

.todo-list main {
  margin-top: 78px;
  background: #eee; 
}

.todo-list hr {
  width: 50%;
  color: rgba(50, 50, 50, 0.2); 
}

.todo-list .list {
  padding: 1em;
  margin: 0;
}

.todo-list .list .list__item {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 1em;
  margin: 1em 0;
  font-size: 1.3em;
  width: 100%;
  background: white;
  box-shadow: 0 1px 2px rgba(50, 50, 50, 0.2);
  border-radius: 3px; 
}

.todo-list .list .list__buttons {
  font-size: 1.3rem; 
}

.todo-list .list .list__button {
  text-align: center;
  width: 50px;
  border: none;
  background: white;
  cursor: pointer;
  font-size: 1.4rem; }

.todo-list .list .fa-trash-o {
  color: rgba(50, 50, 50, 0.5); 
}

.todo-list .list .list__bar {
  color: rgba(50, 50, 50, 0.3);
  font-size: 1.5rem; 
}

.todo-list .list.current-list .fa-check-circle-o {
  color: #25b99a; 
}

.todo-list .list.done-list .list__item {
  opacity: .6;
}

.todo-list .list.done-list .list__item .list__item-name {
  text-decoration: line-through;
}

.todo-list .list.done-list .fa-check-circle {
  color: #25b99a; 
}
